<div class="col-md-12 secondaryEvent">
  <article>
      <a href="/events/{{this._id}}" class="thumb" sl-processed="1">
        <div class = "row comments">
          <div class="col-md-1" id="commentPhoto">
            <img src="{{this.photo}}" width="120" height="120" class="d-inline-block align-top" alt="guestPhoto">
          </div>
          <div class="col-md-1">          
          </div> 
          <div class="col-md-10" id="textEvent">
            <h4><strong>{{this.title}}</strong></h4>            
            <p>Address: {{this.address}}</p>
            <p>Event Date: {{this.dateTime}}</p>
          </div> 
        </div> 
      </a>  
  </article>
</div>         