<form action="/events/{{event._id}}/edit" method="POST" enctype="multipart/form-data">
  <div id="container-home-event">
    <div class="card" style="width: 700">
         <label for="title">Title: {{event.title}}</label>
      <input type="text" value="{{event.title}}" class="form-control" name ="title" id="titleEvent" aria-describedby="emailHelp" placeholder="Enter Title">      
    </div>
    <div class="form-group">
      <label for="category">Category: {{event.category}}</label>
      <input type="text" class="form-control" value="{{event.category}}" name="category" id="categoryEvent" placeholder="nintendo/PS4/...">
    </div>
    <div class="form-group">
      <label for="rate">Rate: {{event.rate}}</label>
      <input type="text" class="form-control" name="rate" id="rateEvent">
    </div>
    <div class="form-group">
      <label>Photo: {{event.photoName}}</label>
      <input type="file" value="{{event.photoName}}" name="photo">
    </div>    
    <div class="form-group">      
      <label for="clan">Clan: {{event.clan}}</label>
      <input type="text" class="form-control" id="clanName" name="clan">      
    </div>  
    <div class="form-group">         
      <textarea name="text" placeholder="write about the event..." style="width:100%;"></textarea>      
    </div>    
    <div class="form-group">
      <label for="date">Date:{{event.date}}</label>
      <input type="date" class="form-control" value="{{event.date}}" id="eventStart" name="date">
    </div>      
    <div class="form-group">      
      <label for="clan">Address</label>
      <input type="text" class="form-control" name="address" id="address" value="{{event.address}}">      
    </div>    
    <button type="submit" class="btn btn-primary" id="eventSumit">Submit</button>
    </div>
  </div>
</form> 