<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <title>GAMMUNITY</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<nav class="navbar navbar-light " style="background-color: red;">
    {{#if user}}
    <a class="navbar-brand" href="/home">
    {{else}}
    <a class="navbar-brand" href="/">
    {{/if}}
    <img src="/images/gammunity2.png" width="70" height="40" class="d-inline-block align-top" alt="">
    <strong id = 'titlePage'>GAMMUNITY</strong>
  </a> 
  <ul class="nav justify-content-end navLayout">
    <li class="nav-item">
      {{#if user}}
      <a class="nav-link active" href="/home">Events</a>
      {{/if}}
    </li>
    <li class="nav-item">
      {{#if user}}
      <a class="nav-link" href="/ranking">Rankings</a>
      {{/if}}
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/article">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Find</a>
    </li>
    <li class="nav-item">
      {{#if user}}
     <li class="nav-item"> 
       <div class="btn-group dropleft" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-info btn-sm dropdown-toggle btnLogIn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" height="100%"><img height ="100%"src="{{user.photo}}" width="30px">
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="/profile/{{user._id}}">Profile</a>
                <a class="dropdown-item" href="/profile/edit/{{user._id}}">Edit Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            <div class="w-100"></div>
          </div>
     </li>
      {{else}}
      <a class="nav-link" href="/sign-in">Sign In</a>
      {{/if}}
    </li>      
  </ul>
</nav>  

{{{body}}}


<footer class="page-footer font-small" style="background-color: red;">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
     <strong id = 'titlePage'>GAMMUNITY</strong>
  </div>
</footer>
</html>